*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: #29214b;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.input-box{
    width: 400px;
    position: relative;
}
.input-box input{
    width: 100%;
    height: 60px;
    padding: 0px 20px;
    border: 1px solid #ccc;
    outline: none;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    background: transparent;
}
button{
    background: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
}
button i{
    font-size: larger;
}
#message{
    position: absolute;
    margin-top: 5px;
    color: #fff;
    font-size: 16px;
    display: none;
}